.col-md-4{
    float:left;
}
.sort{
    margin:20px 20px;
}
.sort span {
    color:blue;
    text-decoration: underline;
    cursor: pointer;
}

#fon{
    display: none;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: white;
}
#load {
    background-image: url("/uploads/giphy.gif");
    position: absolute;
    top: 50%;
    left: 50%;
    height:150px;
    width:150px;
    z-index: 150;
    display:none;
}

.left-menu{
    float:left;



}
.prod-create{
    border: 20px double whitesmoke;
    border-radius: 10px;
    margin: 20px 20px;
}

.table-uploader{
    border: 20px double whitesmoke;
    border-radius: 10px;
    margin: 20px 20px;
}

.dropdown-menu.multi-column {
    width: 400px;
}

.dropdown-menu.multi-column .dropdown-menu {
    display: block !important;
    position: static !important;
    margin: 0 !important;
    border: none !important;
    box-shadow: none !important;
    min-width:100px;
}